@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sentient';
  src: url('https://saniyakhan09.github.io/assets/Sentient-Variable.e0c1b99d.woff2') format('woff2');
}

#page1-in{
  position: relative;
  perspective: 1000px;
 
}
#tilt-div{
  /* background-color: red; */
  width: fit-content;
  transform: rotateX(0deg);
}